{{- if .Values.init }}
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  creationTimestamp: null
  name: colors
  namespace: {{.Values.istio.namespace}}
#  resourceVersion: "562037"
spec:
  selector:
    istio: ingressgateway
  servers:
  - port:
      number: 80
      name: http
      protocol: HTTP
    hosts: 
    - {{.Values.istio.host}}
---
{{- end}}
